<div class="flex justify-center">
  <%= render 'template/search', url: users_index_path, q: @q %>
  <table class="table-auto">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>user name: <%= user.name %></td>
          <td>user introduction: <%= user.introduction %><td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
