<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded mb-1">
        <%= event.title %>
      </button>
    </div>
  <% end %>
<% end %>
